@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXRegular.woff') format('woff');
}
@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 100;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXThin.woff') format('woff');
}
@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 200;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXUltraLight.woff') format('woff');
}
@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXLight.woff') format('woff');
}
@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXMedium.woff') format('woff');
}
@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 600;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXDemiBold.woff') format('woff');
}
@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXBold.woff') format('woff');
}
@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 800;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 900;
    src: url('https://fonts.cdnfonts.com/s/61729/IRANSansXBlack.woff') format('woff');
}

