// app global css in SCSS form
@import "fa-iranSansX";

body {
    font-family: IRANSansX;
  }

  body.rtl {
    font-family: 'Vazirmatn', sans-serif;
  }
  
  body.ltr {
    font-family: 'Roboto', sans-serif;
  }